@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMP LIMS</h1>
</div>

<div id="main-wrapper">
    <div id="main-menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div id="main-menu-inner" style="overflow: hidden; width: auto; height: 100%;" >

            </div>
            <p>Menu</p>
        </div>
    </div>

    <div id="content-wrapper">
        <p>hello hello hello</p>
    </div>



</div>